root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true
max_line_length = 100

# C/C++
[*.{c,cpp,cxx,h,hxx,hpp}]
c_include_path = include
space_after_control_statements = true

# Markdown
[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
indent_size = 2

# JSON/YAML
[*.{json,yaml,yml}]
indent_size = 2
indent_style = space
